<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inwecrypto.wallet">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--阿里移动推送相关权限-->
    <!--Android 6.0版本可去除，用于选举信息（通道复用）的同步-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--进行网络访问和网络状态监控相关的权限声明-->
    <!--允许对sd卡进行读写操作-->
    <!--网络库使用，当网络操作时需要确保事务完成不被杀掉-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--用于读取手机硬件信息等，用于机型过滤-->
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--补偿通道小米PUSH使用，不用可去除-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--补偿通道GCM使用，不使用可去除-->
    <!--允许监听启动完成事件-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许访问震动器-->
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:replace="android:allowBackup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.inwecrypto.wallet.App"
        android:theme="@style/AppTheme">

        <meta-data android:value="YOUR_APP_KEY" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>

        <activity android:name="com.inwecrypto.wallet.ui.WelcomeActivity"
            android:theme="@style/WelcomeStyle"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.inwecrypto.wallet.ui.login.LoginActivity"
            android:theme="@style/FullScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.MainTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.CommonWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.MailListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.MailDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.SettingTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddEthSuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddEthWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddTokenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ImportWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ReceiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ReceiveDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TransferAccountsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TransferAccountsDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ImportWalletTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.MessageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.FixNameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ImportWalletSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.ScanActivity"
            android:theme="@style/ScanTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TokenTransferAccountsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TokenTransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchTokenTransferAccountsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchImportWalletSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchImportWalletTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchImportWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.HotWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/SwipeTheme"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TokenWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.AboutUsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WalletTipOneActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WalletTipTwoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchEthTransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchTokenTransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletClodSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.AddWalletClodNfcActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.WarchEthTransferAccountsNfcActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoSuccessActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoWalletSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.GetGasActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.ImportNeoWalletSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTokenWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTransferAccountsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.WatchImportNeoWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.WatchImportNeoWalletSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoWalletClodSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoWalletClodNfcActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoReceiveDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTransferAccountsDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoNep5TokenWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoNep5TransferAccountsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTokenSaleActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTokenSaleConfirmActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.login.FrogetPassActivty"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.login.RegistActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewImprotWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoAddNep5Activity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoAddWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoReciveActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoTransferConfirmActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNewAddNeoSuccessActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoWalletListActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoNep5TransferConfirmActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewTransferWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.activity.FixPassActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.activity.MarketTipActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.activity.SettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.activity.ShoucangActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.activity.UserActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.InweHotActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.InweHotHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ProjectDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingViewActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingViewHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ExchangeNoticeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ExchangeNoticeHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.CandyBowActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.CandyDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.CandyBowHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.NoTradingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingProjectActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.NoTradingProjectActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ProjectHomeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ProjectHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingMarketActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ProjectSearchActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ProjectNewsWebActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.ReciveActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.RecivceWalletListActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingNoticeDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingNoticeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.TradingNoticeHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.NoticeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.NoticeDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.NoticeHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.activity.YaoqinActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.news.InweHotBottomHistoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.QuickActivity"
            android:theme="@style/NoTitleTranslucentTheme"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.inwecrypto.wallet.common.OkHttpGlideModule"
            android:value="GlideModule"/>

        <service
            android:enabled="true"
            android:name="com.inwecrypto.wallet.service.AutoUpdateService">
        </service>

        <service
            android:enabled="true"
            android:name="com.inwecrypto.wallet.service.MessageService">
            <intent-filter android:priority="1000" >
                <action android:name="com.inwecrypto.messageservice" />
            </intent-filter>
        </service>

        <service
            android:name="com.inwecrypto.wallet.service.DownloadService"/>

        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.inwecrypto.wallet.SleepyAccountsService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <receiver android:name="com.inwecrypto.wallet.receiver.NetStateReceiver">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>

            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.inwecrypto.wallet"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1109180116115999#test" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>