<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inwecrypto.wallet">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--阿里移动推送相关权限-->
    <!--Android 6.0版本可去除，用于选举信息（通道复用）的同步-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--进行网络访问和网络状态监控相关的权限声明-->
    <!--允许对sd卡进行读写操作-->
    <!--网络库使用，当网络操作时需要确保事务完成不被杀掉-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--用于读取手机硬件信息等，用于机型过滤-->
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--补偿通道小米PUSH使用，不用可去除-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--补偿通道GCM使用，不使用可去除-->
    <!--允许监听启动完成事件-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许访问震动器-->
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.inwecrypto.wallet.App"
        android:theme="@style/AppTheme">

        <meta-data android:value="YOUR_APP_KEY" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>

        <activity android:name="com.inwecrypto.wallet.ui.WelcomeActivity"
            android:theme="@style/WelcomeStyle"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.inwecrypto.wallet.ui.login.LoginActivity"
            android:theme="@style/FullScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.MainTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.CommonWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketRemindActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.MailListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.MailDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.UnitActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddEthSuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddEthWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddTokenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ImportWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ReceiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ReceiveDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TransferAccountsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TransferAccountsDetaileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>



        <activity android:name="com.inwecrypto.wallet.ui.me.activity.UserInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.HeadImgActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ImportWalletTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.MessageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.FixNameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.FixSexActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketRemindAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.market.activity.MarketRemindEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.ImportWalletSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.ScanActivity"
            android:theme="@style/ScanTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TokenTransferAccountsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TokenTransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchTokenTransferAccountsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchImportWalletSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchImportWalletTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchImportWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.HotWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/SwipeTheme"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.TokenWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.me.activity.AboutUsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WalletTipOneActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WalletTipTwoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchEthTransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.WatchTokenTransferAccountsConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inwecrypto.wallet.ui.wallet.activity.AddWalletClodSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.AddWalletClodNfcActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.WarchEthTransferAccountsNfcActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.info.activity.AllInfoActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.info.activity.IcoActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.info.activity.ProjectOnlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.info.activity.ProjectUnderlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.info.activity.SearchActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoSuccessActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoWalletSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.GetGasActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.ImportNeoWalletSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTokenWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTransferAccountsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.WatchImportNeoWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.WatchImportNeoWalletSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoWalletClodSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.AddNeoWalletClodNfcActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoReceiveDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTransferAccountsDetaileActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.info.activity.InfoWebActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoNep5TokenWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoNep5TransferAccountsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTokenSaleActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wallet.activity.neowallet.NeoTokenSaleConfirmActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewImprotWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoAddNep5Activity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoAddWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoReciveActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoTransferConfirmActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNewAddNeoSuccessActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoWalletListActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.me.MeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewNeoNep5TransferConfirmActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.newneo.NewTransferWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <service
            android:enabled="true"
            android:name="com.inwecrypto.wallet.service.AutoUpdateService">
        </service>

        <service
            android:name="com.inwecrypto.wallet.service.DownloadService"/>

        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.inwecrypto.wallet.SleepyAccountsService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <receiver android:name="com.inwecrypto.wallet.receiver.NetStateReceiver">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>

            </intent-filter>
        </receiver>

        <meta-data android:name="com.alibaba.app.appkey" android:value="24670894"/> <!-- 请填写你自己的- appKey -->
        <meta-data android:name="com.alibaba.app.appsecret" android:value="ddbc04580a565b7cd33fa1dd714b2b90"/> <!-- 请填写你自己的appSecret -->


        <!-- 通道保持服务 -->
        <service android:name="com.alibaba.sdk.android.push.ChannelService"
            android:exported="true" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="taobao" />
            </intent-filter>
        </service>
        <!-- 消息接收服务 -->
        <service android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>
        <!-- 消息接收增强服务（可提高通知/消息达到率）-->
        <service android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService" android:exported="true">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.inwecrypto.wallet.receiver.MeMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.inwecrypto.wallet"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>